:root{
    --weight:500;
    --color-f9: #f9f9f9;
    --border: 1px solid #dfe3e6;
    --radius: 5px;
    --sumbit-color: #6457f9;
    --task-color-white: #fff;
    --task-color-black: #000;
    --task-height: 40px;
}

.app_header{
    display: flex;
    justify-content: center;
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px #dcdcdc;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
  }

.header_container > form {
    width: 45%;
}

.task_input::placeholder{
    color: #686868;
}

.task_input{
    font-size: 20px;
    font-weight: var(--weight);
    color: #000;
    border-color: var(--color-f9);
    border-radius: var(--radius);
    border: var(--border);
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
}

.task_for_bottom_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.task_status {
    font-size: 0.8rem;
    font-weight: var(--weight);
    border-radius: var(--radius);
    border-radius: var(--radius);
    width: 100px;
    height: var(--task-height);
    padding: 0 10px;
    width: 100%;
    color: var(--task-color-black);
}

.task_submit {
    font-size: 0.8rem;
    font-weight: var(--weight);
    border-radius: var(--radius);
    border-radius: var(--radius);
    background-color: var(--sumbit-color);
    color: var(--task-color-white);
    width: 100%;
    height: var(--task-height);
    padding: 0 5px;
    border: none;
}


.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    gap: 10px;
}

.tag_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 10px;
    width: 100%;
}

@media (max-width: 600px) {
    .button_container {
        flex-direction: column;
        width: 100%;
    }

    .task_status, .task_submit {
        width: 100%; /* Make buttons full width on small screens */
    }
}