.task_column_heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task_column_icon {
    width: 30px;
    margin-right: 5px;
}

.task_column {
    margin: 20px;
    max-width: 300px; 
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }
  
  
  