.app {
  display: grid;
  grid-template-rows: 30vh auto;
}

.app_main {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  padding: 20px 8%;
  height: minmax(10vh,auto);
}

@media (max-width: 768px) {
  .app_main {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}